<%= render 'layouts/navbar_installer' %>
<div class="container">
<h1>Editing Job Order</h1>

<%= render 'form', job_order: @job_order %>

<%= link_to 'Show', @job_order %> |
<%= link_to 'Back', job_orders_path %>
</div>