<div style="margin-top: 50px; "></div>
<div class="row">
	<div class="col-md-3"></div>
  	<div class="col-md-6">
  		<%= pldtua_logo %>
  	</div>
  	<div class="col-md-3"></div>
</div>

<div class="row">
	<div class="col-md-3"></div>
  	<div class="col-md-6">
  		<%= link_to 'PLDT Office', pages_pldt_office_path, class: "btn btn-danger btn-lg btn-block" %>
		<button type="button" class="btn btn-danger btn-lg btn-block">Installer</button>
		<button type="button" class="btn btn-danger btn-lg btn-block">Customer</button>
  	</div>
  	<div class="col-md-3"></div>
</div>