<div style="margin-top: 50px; "></div>
<div class="row">
	<div class="col-md-3"></div>
  	<div class="col-md-6">
  		<%= pldtua_logo %>
  	</div>
  	<div class="col-md-3"></div>
</div>

<div class="row">
	<div class="col-md-3"></div>
  	<div class="col-md-6">
  		<%= link_to 'PLDT Office', pages_pldt_office_path, class: "btn btn-danger btn-lg btn-block" %>
		<%= link_to 'Technicians', pages_installer_path, class: "btn btn-danger btn-lg btn-block" %>
		<%= link_to 'Customers', pages_customer_path, class: "btn btn-danger btn-lg btn-block" %>
  	</div>
  	<div class="col-md-3"></div>
</div>