<nav class="navbar-default navbar-static-side">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= pldtua_logo_small %>
      <% end -%>
    </div>
    <ul class="nav navbar-nav pull-right">
      <li><%= link_to "Customer Applicant List", customer_dbs_path %></li>
      <li><%= link_to "Port Map", port_hub_maps_path %></li> 
      <li><a href="#">Installer DB</a></li> 


    </ul>
  </div>
</nav>