<nav class="navbar-default navbar-static-side">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav pull-right">
      <li><a href="#">Customer DB </a></li>
      <li><a href="#">Port DB Map</a></li> 
      <li><a href="#">Installer DB</a></li> 
    </ul>
  </div>
</nav>