<nav class="navbar-default navbar-static-side">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= pldtua_logo_small %>
      <% end -%>
    </div>
    <ul class="nav navbar-nav pull-right">
      <li><%= link_to "Technicians Dashboard", job_orders_path %></li>
      <li><%= link_to "Job Order", job_orders_path %></li>
    </ul>
  </div>
</nav>