<nav class="navbar-default navbar-static-side">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= pldtua_logo_small %>
      <% end -%>
    </div>
    <ul class="nav navbar-nav pull-right">
      <li><%= link_to "Customer", customer_dbs_path %></li>
      <li><a href="#">Port DB Map</a></li> 
      <li><a href="#">Installer DB</a></li> 
    </ul>
  </div>
</nav>