<nav class="navbar-default navbar-static-side">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= pldtua_logo_small %>
      <% end -%>
    </div>
    <ul class="nav navbar-nav pull-right">
      <li><%= link_to "Payment Page", customer_dbs_path %></li>
      <li><%= link_to "List of Subscription", port_hub_maps_path %></li> 
      <li><a href="#">Account</a></li>
      <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Support <span class="caret"></span></a>
                  <ul class="dropdown-menu dropdown-menu-right multi-level">
                    <li><a href="#">FAQ</a></li>
                      <li class="dropdown-submenu">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Support <span class="caret"></span></a>
                  <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="#">Chat</a></li>
                    <li><a href="#">SMS</a></li>
                    <li><a href="#">Submit Ticket</a></li>
                    <li><a href="#">Call</a></li>
                    
                  </ul>
                </li>
              </ul>
      </li>


    </ul>
  </div>
</nav>